<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidaSession</servlet-name>
        <servlet-class>Paquete.ValidaSession</servlet-class>
        <init-param>
            <param-name>jdbc.drivers</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbc.url</param-name>
            <param-value>jdbc:mysql://localhost:3306/servlet?zeroDateTimeBehavior=convertToNull</param-value>
        </init-param>
        <init-param>
            <param-name>jdbc.username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>jdbc.password</param-name>
            <param-value>123456</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaSession</servlet-name>
        <url-pattern>/ValidaSession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
